.wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(0, 255, 55, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  color: white;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 0 20px 0 50px;
}

.input-box input::placeholder {
  color: white;
}

.input-box .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: white;
  font-size: 18px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -15px 0 15px 0;
  font-size: 14.5px;
}

.remember-forgot a {
  color: white;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: #32e385;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper button:hover {
  background: #30d878;
}

.wrapper .signup {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px;
}

.wrapper .signup a {
  color: #06652f;
  text-decoration: none;
  font-weight: 600;
}

.wrapper .signup a:hover {
  text-decoration: underline;
}
